* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/aboutus.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-us{
  font-size: 20px;
}
.text-top{
  margin-top: 10px;
}
.text-container{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  gap: 50px;
}

.products {
  background-image: url('/images/products.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: 15px;

}
@media only screen and (max-width: 900px) {
    .google-map-code{
      flex-wrap: wrap;
    }
    .services{
      padding: 100px;
    }
}
.google-map-code{
  display: flex;
  flex-direction: row;
  gap:50px
}
.contact{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 50px;
  color: black;
  justify-content: center;
}

.header{
  background-color: blue;
  position: fixed;
  top: 0;
  width: 100%;
}
.headerVisible{
  visibility: visible;
  transition: all 0.3s;
}
.headerHidden {
  visibility: hidden;
  transition: all 0.3s;
  transform: translateY(-100%);
}


.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
